<div class="main">
  <div class="header-content">
    <div class="content">
      <h3 class="header-text">OVERVIEW</h3>
      <div class="line"></div>
      <p class="description">HOW IT WORKS</p>
    </div>
  </div>
  <div class="secondary-header">
    <div class="content">
      <h1 class="header-text">
        The Seamless and Reliable Car Shipping Solutions you Need
      </h1>
      <div class="line"></div>
      <p class="description">
        Whether you are transporting a single unit or an entire fleet, shipping
        new cars globally can be a complex task that requires meticulous
        planning, supervision, and seamless coordination.
      </p>
      <p class="description">
        New car transportation can present a number of challenges, from time
        constraints and keeping your vehicles safe and secure to shipping
        capacity and frequency..
      </p>
      <p class="description">
        Enjoy seamless and reliable car shipping solutions tailored to your
        needs with MSC. Our containerized car shipping solutions address these
        challenges head-on to ensure safe and efficient delivery that keeps your
        cargo in top condition.
      </p>
    </div>
  </div>
  <div class="img-content">
    <img
      class="img"
      src="../../../../../assets/images/car-in-container.jpg"
      alt="car-in-container"
    />
  </div>
</div>
