<div class="main">
  <div class="drawer-content">
    <p-button
      (click)="isDrawerVisisble.set(true)"
      icon="pi pi-bars"
      [text]="true"
      severity="warn"
    />
  </div>
  <div class="logo-content">
    <img class="logo" src="../../../../assets/images/logo.png" alt="logo" />
  </div>
</div>

<p-drawer [(visible)]="isDrawerVisisble" header="Drawer">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</p-drawer>
