/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-bg-primary: #F5F5F5;
  --color-bg-secondary: #FFFFFF;
  --color-accent: #00ADB5;
  --color-text-primary: #111827;
}